<%= form_tag(captures_path, method: :get) do %>
  <div class="mb-3">
    <label for="search" class="form-label">Search:</label>
    <%= text_field_tag(:search, params[:search], class:'form-control') %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>

<% if(params[:search]) %>
  <h2>Results</h2>
  <ul class="list-group list-group-flush">
  <% @capture_parts.each do |part| %>
    <a class="list-group-item list-group-item-action" href="<%= part.capture.url%>?t=<%= part.start %>">
      <span class="fs-5"><%= part.capture.title %> part at <%= (Time.local(1,1,1) + part.start).strftime("%M:%S") %></span>
      <% snippet = part.snippet(params[:search])%>
      <blockquote><%= snippet[0] %><mark><%= snippet[1] %></mark><%= snippet[2] %></blockquote>
    </a>
  <% end %>
  </ul>
<% end %>
