Search:
<%= form_tag(captures_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("search") %>
<% end %>

<% if(params[:search]) %>
  <h2>Results</h2>
  <ul>
  <% @capture_parts.each do |part| %>
    <li><%= part.capture.title %> <%= part at <%= (Time.local(1,1,1) + part.start).strftime("%M:%S") %><a href="<%= part.capture.url%>?t=<%= part.start %>"><%= part.text %></a></li>
  <% end %>
  </ul>
<% end %>
